.meta {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    background: url("../drawable/soft_bright_blue_background-other-1.png") no-repeat center center;
    background-size: cover;
}

.row1 {
    display: flex; /* dispone le immagini in 2 righe e 2 colonne */
    height: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
}

.row2 {
    display: initial;
}

.row3 {
    display: initial;
}

.col { /* si riferisce al testo all'interno della card*/
    flex-basis: 50%;
}

#descrizione {
    margin: 10px;
}

h5 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.collapsible {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    border-radius: 4px;
    background: rgba(207, 212, 215, 0.47);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 10px 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #0069c3;
    color: #ffffff;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

/* Style the collapsible content. Note: hidden by default */
.contents {
    padding: 0 16px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 5px rgb(7, 7, 7);
}

/* parte relativa alle prime immagini (da rivedere)*/
.sezione_img {
    position: initial;
    width: 350px;
    padding-left: 10px;
    margin-right: 30px;
    display: flex;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right (forse non serve)*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/6 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* label*/
.label {
    color: white;
    padding: 8px;
}

.filtro_1 {
    background-color: #04AA6D;
}

/* Green */
.filtro_2 {
    background-color: #2196F3;
}

/* Blue */
.filtro_3 {
    background-color: #ff9800;
}

/* Orange */
.filtro_4 {
    background-color: #f44336;
}

/* Red */
.mete_consigliate {
    min-height: 200px;
}

.pacchetti_consigliati {
    min-height: 200px;
}


/* Cuoricino */

.heart {
    width: 100px;
    height: 100px;
    background: url("../drawable/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}
.stage {
    position: absolute;
    top: 23%;
    left: 87%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
}
.hero__content1 {
    margin: 2px 28px 5px 12px;
    z-index: 1;
    position: relative;
}
.carousel-cell__content1 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    line-height: 100px;
    text-align: center;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.carousel-cell1 {
    height: 100px;
    width: 100px;
    margin-right: 2px;
    padding: 50px 20px 50px 20px;
}
.carousel-cell__content2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

/* Recensione */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #ddd;
    /*outline: none; */
}

.button1 {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    opacity:0.9;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    width: auto;
}

.button1:hover {
    opacity:1;
}

.cancelbtn {
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    opacity:0.9;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    width: auto;
    background-color: #f44336;
}

.signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    opacity:0.9;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    width: auto;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

.container1 {
    padding-top: 40px;
}
.container2 {
    padding: 50px 40px 40px 40px;
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/* Stelle di valutazione */
.rate {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.desc{
    font-size: 20px;
    font-weight: bold;
}


/* Carousel per recensioni */

.flickity-viewport-commenti {
    height: 370px;
    touch-action: pan-y;
}
.main-carousel-commenti{
    padding: 40px 0;
}
.carousel-cell-commenti{
    height: 550px;
    width: 400px;
    margin-right: 40px;
}
.carousel-cell__content-commenti {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    text-align: center;
}
.col-sm-6 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float:left;
    width:100%
}
@media (max-width: 460px) {
    .col-sm-6{
        width:40%
    }
}
.glyphicon-star:before {
    content: "\e006";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-star-empty:before {
    content: "\e007";
}

mark,.mark{
    padding:13px;
    background-color:#fcf8e3}

.block-text {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    padding: 0 21px;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
.block {
    display: block;
}
.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}

.checked {
    color: orange;
}

