.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../drawable/background.png) no-repeat center center;
    background-size: cover;
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.row{
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 100px;
}
.col{
    flex-basis: 50%;
    align-items: center;
    padding: 50px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 18px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.card1{
    background-image: url(../drawable/pic-1.png);
}
.card2{
    background-image: url(../drawable/pic-2.png);
}
.card3{
    background-image: url(../drawable/pic-3.png);
}
.card4{
    background-image: url(../drawable/pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 11px #999;
}
.card h5{
    color: #fff;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    z-index: 2;
}
.card p{
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

