.boxutente{
    display: flex;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    margin-top: 100px;
}

.profilo{
    padding: 50px;
    width: auto;
    margin: 0 auto;
}

.infoprofilo{
    width: 50%;
    padding: 95px 60px 59px 0;
}

@media (max-width: 768px) {
    .boxutente{flex-wrap: wrap; height: 100%;width: fit-content;}
    .profilo{
        max-width: 768px;
        width: auto;
        margin: 0 auto;}
    .infoprofilo{width: 100%; padding: 50px;margin:0 auto}
}

.foto img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    cursor: pointer;
    margin: 20px 20px;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .foto img{
        width: 100px;
        height: 100px;
    }
}
.dati{
    border-color: black;
    border: 1px solid;
}
.file_div{
    width: 150px;
    margin: 0 auto;
}
.file_label {
    background-color: #0045b5;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 10px;
}

.file_label:hover {
    cursor: pointer;
    color: #ffffff;
    background: #0069c3;
}

.background{
    background: url("../drawable/9-90683_travel-backgrounds.png") no-repeat center center;
    background-size: cover;
}