.recupero {
    padding-top: 820px;
    position: relative;
}

.recuperobox{
    width: 300px;
    height: 300px;
    background:white;
    color:black;
    top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: content-box;
    padding: 70px 30px;
    transform-style: preserve-3d;
    border-radius: 20px;

}



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;


}

.loginbox input[type="text"], input[type="text"]
{
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
    outline: none;
    height:40px;
    color: black;
    font-size:20px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: grey;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: blue;
    color: white;
}

.loginbox a{
    text-decoration: none;
    outline: 1px;
    font-size: 15px;
    line-height: 20px;
    color: blue;
}
.loginbox a:hover
{
    color: grey;
}
.accordion {
    padding-left: 30px;
}



.grid{display: flex; max-width: 1350px; padding: 0 30px;margin: 0 auto;}
.grid .col{width: 100%;}

@media (max-width: 768px) {
    .grid{flex-wrap: wrap}
}


/* BG Cover */

.bg-cover{
    display: flex;
    padding: 100px 0;
    background: linear-gradient(0deg, rgba(0,0,0,.7), rgba(0, 0, 0, 0)),
    url('../drawable/MicrosoftTeams-image.png') no-repeat center center;
    background-size: cover;
}

.bg-cover__FAQ{width: 50%;padding: 30px;}
.bg-cover__recuperobox{width: 50%;padding: 50px;display: flex;align-items: center;}

@media (max-width: 768px) {
    .bg-cover{flex-wrap: wrap; height: auto;}
    .bg-cover__text,
    .bg-cover__title{width: 100%;}
}