h1 {
color: blue;
}

.griglia_immagini {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 1em;
}

img {
    width: 100%;
    height: auto;
}

.immagini_attrazioni {
    position: relative;
    overflow: hidden;
}

.titolo_attrazioni {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);

    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;

    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* hide the title by default */
    opacity: 0;
    transition: opacity .5s

}
.immagini_attrazioni:hover.titolo_attrazioni {
    opacity: 1;
}

.imm_attrazione {
    line-height: 0;
}

.imm_attrazione img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.immagini_attrazioni:hover.imm_attrazione img {
    filter: blur(2px);
}

