.row1{
    display:flex; /* dispone le immagini in 2 richje e 2 colonne */
    height: 100%;
    align-items: flex-start;
}
.row2 {
    display: initial;
}
.row3 {
    display: initial;
}
.col{ /* si riferisce al testo all'interno della card*/
    flex-basis: 80%;
}
#descrizione{
    margin: 10px;
}
.card{
    width: 280px;
    height: 195px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-position: initial;
    background-size: cover;

    /* effetto blur
    -webkit-filter: blur(0px);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 1s ease; */

}
.card:hover{
    /*-webkit-filter: blur(2px); */
    transform: translateY(-5px);
}
.card1{
    background-image: url(../drawable/montagna.jpg);
}
.card2{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card3{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card4{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card5{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card6{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card7{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card8{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card9{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card10{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card11{
    background-image: url(../drawable/Spiaggia_1.jpg);
}
.card12{
    background-image: url(../drawable/Spiaggia_1.jpg);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.text_card{
    font-size: 15px;
    position: absolute;
    color: white;
    text-shadow: 0 0 15px #000;

    /* hide the title by default */
    transition: opacity .5s;
}
.card p{   /* si riferisce al testo all'interno della card */
    opacity: 0;
}

.card p:hover{
    opacity: 1;
}


