# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\franc\Dropbox\Politecnico di Bari\Corsi\Algoritmi e strutture dati in Java\IdeaProjects\Plan&Travel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
